[Unit]
Description=ComfyUI instance
After=network.target

[Service]
Type=simple
User=llm
WorkingDirectory=/home/llm/DiscordBot
ExecStart=/home/llm/anaconda3/bin/python /mnt/nvme0n1p2/ComfyUI/main.py --cuda-device 0 --port 8188 --listen 
Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=comfyBot


[Install]
WantedBy=multi-user.target
